body {
    background-color: #f0f8ff;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #0056b3;
    padding: 15px;
}

.nav-link {
    color: white !important;
    font-weight: bold;
    padding: 10px 20px;
}

.navbar-brand {
    color: white !important;
    font-size: 1.5rem;
}

h1, h3 {
    color: #0056b3;
}

.btn-outline-primary {
    border-color: #0056b3;
    color: #0056b3;
    transition: 0.3s;
}

.btn-outline-primary:hover {
    background-color: #0056b3;
    color: white;
}

.container {
    margin-top: 50px;
}

.card {
    border: 1px solid #0056b3;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #0056b3;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #333;
}

#reservas-estacionamiento .card,
#reservas-vuelos .list-group-item {
    background-color: #f8f9fa;
    padding: 15px;
    margin-bottom: 20px;
}

.list-group-item {
    border: 1px solid #0056b3;
    border-radius: 8px;
}
.oculto {display: none;}