
/*---------------------------------Acerca de--------------------------*/
.about-left-container {
    width: 400px;
    left: 4%;
    top: 5%;
}

.about-left-container h1{
    font-size: 800%;
}

.about-right-container{ 

    width: 40%;
    height: 100%;
}

.about-photo{

    right: 30%;
    width: 40em;
}

.habilidades-image img{
    visibility: hidden;
}
