* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --colorLetras: limegreen;
    --colorContainers: rgb(14, 14, 14); /*rgb(14, 14, 14)*/
}
html,body{
    height: auto;
    width: 100%;
    background-color: rgb(8, 8, 8);

}

button{
    transition: background-color .5s;
}

#habilidades{
    position: relative;
    top: -104px;
}
#proyectos{
    position: relative;
    top: -70px;
}
#certificados{
    position: relative;
    top: -100px;
}
button:hover{
    cursor:pointer;
}

section{
    text-align: center;
    width: 100%;
}
.section-title{
    text-align: center;
    display: inline-block;
    color: white;
    border-bottom: 5px solid rgba(0, 255, 0, 0.329);
    border-radius: 5px;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    font-size: 5em;
}
.header-mobile{
    visibility: hidden;
    z-index: 100;
    position:fixed;
    top: 100px;
    display: block;
    background-color: rgb(0, 0, 0);
    width: 100%;
    font-weight: bolder;
    padding: 0 20%;
}
.header-mobile-botones-texto{
    text-decoration: none;

    color: white;
    background-color: transparent;
    padding: 50px;
    width: 100%;
    margin: 20px auto;
    font-size:2em;
    border: none;
    border-bottom: 6px solid green ;
}
.mobile-botones-imagen{
    margin: 30px 9%;
    text-align: center;
    width: 6em;
    background-color: transparent;
    border: none;
}
.mobile-botones-imagen img{
    width: 100%;
}
.fixer{
    visibility: hidden;
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    border: none;
}
header {
    background-color: black;
    border-bottom: 5px solid rgb(32, 32, 32);
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    overflow:hidden;
    box-shadow: 0px 0px 5px rgba(0, 255, 0, 0.431);
    z-index: 101;
}

.header-containter-left{
    box-sizing: content-box;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
}
.header-containter-left img{
    position:absolute;    
    width: 5em;
    height: 5em;
}
.header-containter-left h2{
    margin-left: 100px;
    color: white;
    font-size: 5em;
}

.header-container-right{
    margin-top: -1px;
    margin-right: 20px;
    float: right;
}


.header-container-right button{
    position: relative;
    font-weight: bolder;
    font-size: 1.2em;
}

.header-botones-texto{
    color: white;
    background-color: black;
    margin-left: -4px;
    bottom:5px;
    border-style: none;
    padding: 34px 5px;

}
.header-botones-texto:hover{
    background-color: rgb(36, 36, 36);
}
.header-botones-texto-activo{
    background-color: white;
    color: black;
    margin-left: -4px;
    bottom:5px;
    border-style: none;
    padding: 35px 5px;
    box-shadow: 0px 0px 50px rgb(148, 148, 148);

}
.botones-imagen{
    top: 5px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-style: none;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
.boton-menu-mobile{
    margin-right: 30px;
}
.botones-imagen img{
    width: 100%;
    height: 100%;
}
@media screen and (min-width:1230px) {
    .header-container-right{
        visibility: visible;
    }
    .boton-menu-mobile{
        visibility: hidden;
    }
    
}
@media screen and (max-width: 1229px) {
    .header-container-right{
        visibility:hidden;
    }
}
/*---------------------------------Acerca de--------------------------*/

.about {
    position: relative;
    height: 40em;
    border-bottom: 2px solid rgb(32, 32, 32);
    border-width: medium;
}
.about-left-container {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 370px;
    height: 100%;
    left: 4%;
    top: 5%;
}

.about-left-container h1{
    font-family: 'Satisfy', cursive ;
    font-size: 795%;
    font-weight: bolder;
    line-height: 1em;
}
.about-left-container p{

    display: inline-block;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: bolder;
    font-size: 1.3em;
    color: var(--colorLetras);
}
.about-left-container button{

    float: left;
    position: relative;
    top: 20px;

    padding: 1em 2em;
    background-color: green;
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
    border: 0px none black;
    border-radius: 20px;
}
.about-left-container button:hover{

    background-color: rgb(0, 71, 0);
}

.about-right-container{ 
    position:absolute;
    right: 0;    
    background-image: url("/resources/Images/about_background.png");
    background-size: cover;
    box-shadow: 20px 0 20px 20px rgb(8, 8, 8) inset;
    width: 40%;
    height: 100%;
}

.about-photo{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40em;
    height: auto;
}
@media screen and (max-height: 720px) {
    
}
/*-------------------------------Habilidades--------------------*/

.habilidades-container{
    display: block;
    position: absolute;
    margin: 50px auto;
    text-align: center;
    width: 100%;
    
}

.habilidades{
    height: 54em;
}

.habilidad-cuadro-exterior{
    background-color: var(--colorContainers);
    margin: 0 auto;
    margin-bottom: 40px;
    height: 4em;
    width: 52em;
    padding: 1em 0;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 255, 0, 0.329);

}

.barra-container{
    position: relative;
    background-color: rgb(53, 53, 53);
    border: 1px solid black;
    left: 25px;
    width: 600px;
    height: 20px;
    border-radius: 50px;
    top: 5px;
}
.barra-container div{
    background-color: green;
    height: 100%;
    z-index: 90;
    border-radius: 50px;
}

.porcentajeAndImage-container{
    right: 20px;
    position: relative;
    float: right;
    bottom: 28px;
    font-size: 2em;
    text-align: center;
    color: green;
}
.porcentajeAndImage-container img{
    width: 49px;
    height: auto;
}
.porcentajeAndImage-container b{
    position: relative;
    bottom: 15px;
    right: 30px;
}

.habilidades-image{
    height: fit-content;
}

.habilidades-image img{
    visibility: hidden;
    position: relative;
    float: right;
    margin-top: 3em;
    right: 3%;
    width: 40%;
    height: auto;
    box-shadow: 0px 0px 5px rgba(50, 205, 50, 0.568); 
    border-radius: 100px;

}


/*--------------------Habilidades Individuales-----------------*/

._html{
    width: 69%;
}
._css{
    width: 46%;
}
._javascript{
    width: 35%;
}
._python{
    width: 35%;
}
._csharp{
    width: 58%;
}
._unity{
    width: 35%;
}

/*---------------------------------Proyectos----------------------------*/

.proyectos{
    text-align: center;
    box-sizing: content-box;
    width:100%;
    margin: 0 auto;
    margin-bottom: 2em;
}

.project-container{
    margin: 50px;
  
    padding: 1.3em;

    display:flex;    
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

    background-color: var(--colorContainers);
    box-shadow: 0px 0px 4px rgba(0, 255, 0, 0.329);
}


.project-img-container{
    display: flex;
    flex: 1;
    background-color: transparent !important;
    min-width: 720px;
    max-width: 720px;
    margin: 20px 0;
}

.project-container img{
    width: 100%;
    display: inline-block;
}
.project-container h2{
    font-size: 3em;
    text-align: left;
    border-bottom: 5px green solid;
    display: inline-block;
    width: 100%;
    color: white;
}
.text-container{
    text-align: left;
    height: auto;
    padding: 0 40px;
    flex: 2 1;
}

.project-container a{
    text-decoration: none;
}

.project-container p{
    font-size: 30px;
    margin: 40px 0;
    color:var(--colorLetras);
    font-weight: bold;
    display: block;
    text-align: justify;
}
.project-container button{
    width: 7em;
    background-color: lightgreen;
    border: none;
    padding: 10px;
    font-size: 2.5em;
}
.project-container button:hover{
    background-color: rgb(52, 230, 52);
}
@media (min-width:1212px ) and (max-width:1530px){

    .project-img-container{

        min-width: 400px;
    }

    .text-container h2{
        font-size: 25px;
    }
    .text-container p{
        font-size: 20px;
        margin: 20px 0;
    }
    .text-container button{
        font-size: 20px;
    }
}
@media (max-width:1212px) {
    .text-container button{
        display: block;
        margin: auto;
    }
}
/*-----------------------Certificados-------------------*/
.certificados{
    text-align: center;
    box-sizing: content-box;
    width:100%;
    margin: 0 auto;
    margin-bottom: 2em;
}
.certificado-container{
    margin: 40px;
    width: 40em;

    padding: 3em;

    display:inline-block;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

    background-color: var(--colorContainers);
    box-shadow: 0px 0px 4px rgba(0, 255, 0, 0.329);
}

.certificado-container img{
    width: 100%;
    height: 25em;
}

.contacto-form{
    display: block;
    margin: 40px auto;
    border-radius: 5px;
    width: 50%;
    text-align: center;
}

footer{
    padding: 10px;
    text-align: center;
    color: rgb(110, 110, 110);
    background-color: rgba(26, 26, 26, 0.479);
    width: 100%;
}

.contacto{
    display: block;
    margin: 20px;
    margin-right: 50%;
    text-align: left;
}
.contact-data-container{
    margin: 20px;
}
.contact-data-container div{
    display: inline-block;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}
.contact-data-container div img{
    width: 5em;
    height: auto;
    display: block;
    float: left;
}
.invert{
    filter: invert(100%);
}
.contact-data-container div p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    position: relative;
    float: left;
    display: block;
    color:var(--colorLetras);
    margin: 10px;
}

.formulario{
    display: flex;
    gap: 8vw;
    margin-bottom: 5vh;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    align-self: flex-start;
}

input, textarea{
    font-size: 2em;
    border-radius: 10px;
    background-color:transparent ;
    border: 4px solid rgba(0, 255, 0, 0.329);
    color: white;
}

form button {
    font-size: 2em;
    border-radius: 10px;
    background-color:rgba(0, 255, 0, 0.329) ;
    border: none;
    color: white;
}

ul {
    padding: 0 10em 0 10em;
}

ul li {
    color: rgba(56, 240, 56, 0.623); 
    font-size: 2em;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}



