
/*---------------------------------Acerca de--------------------------*/
.about{
    height: 54em;
}
.about-left-container {
    width: 470px;
    left: 4%;
    top: 10%;
}

.about-left-container h1{
    font-size: 1100%;
    margin-bottom: 50px;
}

.about-right-container{ 

    width: 40%;
    height: 100%;
}

.about-photo{

    right: 55%;
    width: 50em;
}
.habilidades-image img{
    visibility:visible;
}

.habilidades-container{
    display: inherit;
    text-align: center;
    position: absolute;
    margin: 50px 0px 0px 50px;
    width: auto;
}